<!DOCTYPE html>
<html>
						  <meta charset="utf-8">
						  <meta name="viewport" content="width=device-width, initial-scale=1">
						  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
						  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
						  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<head>
						  <title>Goskeptical</title>
						  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
						  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
						  <%= csrf_meta_tags %>
</head>
<body>

<div id="imagebanner" class="container">
<img src="<%= image_url 'skepsis.png' %>"  class="img-responsive">
</div>
<div id="sectionbanner1" class="container">
<center><img src="<%= image_url 'logo_goskeptical2.png' %>" id="goskeptical" class="img-responsive"></center>
</div>



<div id="section1" class="container">
		<%= yield %>
		<br>
		<br>
		<br><br>
		<br>
		<br><br>


</div>

<div id="footer" class="container">
		<center>Contact us: info@skepsis-consulting.com</center>
		<center>www.skepsis-consulting.com</center>
		<center>@goskeptical</center>
</div>

 
<style>

					@media only screen and (max-width: 800px) {
					   body { font-size: 90%; }
					}
					  #goskeptical 	  {max-width: 100%; height: auto}
					  #imagebanner 	  {margin-left: 9%;max-width: 80%; height: auto}
					  #sectionbanner1 {height:7%;color: #FFF; background-color: #C41D2B; font-size: 300%; font-family: inglobal;}
					  #section1 	  {padding-top:50px;height:50%;color: #000; background-color: #fff;}
					  #footer 		  {position: bottom;padding-top:2%;padding-bottom:2%;height:10%;color: #fff; background-color: #C41D2B;}


  </style>

</body>
</html>
